   
        /* se define la clase green que esta siendo usada en varios elemenetos */
 
 .green {
     color: green;
     background: black
 }
 /* realiza la signacion del estilo de una seccion */
 
 nav {
     color: red;
     background: black
 }
 /* reliza la definicion de una id creada para alguna seccion */
 
 #articulo {
     color: blueviolet;
     background: green
 }
 /* todos los elementos que tengan un atributo cite */
 
 blockquote[cite] {
     background: red
 }
 
 