<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    
                    <h4>Bienvenido {{user.nombre_completo}}</h4>
                    <a href="/administracion/colegios" class="btn btn-primary m-4">
                        Empieza ingresando un colegio!  
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>