<main class="index">
    <form action="/administracion/profesores/add" method="POST">
        <div class="contenedor">
            <div class = "text-center">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfknbsfb-pGwxMWHe7EIst7xhHF6-6SoXvKloZmLUWoteaiAg/viewform?embedded=true" width="1000" height="1000" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
            </div>
            
        </div>
        <div class="text-center">
                <a href="/alumnos/modulo1-base/{{idUser}}" class="btn btn-primary m-4">
                    Empezar Curso!
                </a>
            </div>
</main>