
    <form action="/alumnos/resultados" method="POST">
        <div class="contenedor">
            <div class = "text-center">
            <input type="hidden" name="imi" value="{{imi}}">
            <input type="hidden" name="puntos" value="{{puntos}}">
            
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfO7-ebXynwtg5ZuLxFTFFSo5nz0dhSx1qE-YxBwWPIa8XXqQ/viewform?embedded=true" width="640" height="1740" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
            </div>
            
        </div>
        <div class="col text-center">
    <div class="form-group">
      
      <button class="btn btn-success btn-block ">
        Finalizar Curso
      </button>
    </div>
  </div>
</form>