
<div class="body p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    {{#ifEquals imi false}} {{!-- administrador --}}
                    <h4>¡Felicitaciones! Has finalizado el reforzamiento. ¡En el proceso has conseguido un total de {{puntos}} puntos! Visita la tienda para ver cómo puedes gastar estos puntos 😊</h4>
                    <a href="/alumnos/tienda" class="btn btn-primary m-4">
                        
                        Tienda
                    </a>
                    {{/ifEquals}}
                    {{#ifEquals imi true}} {{!-- administrador --}}
                    <h4>¡Felicitaciones! Has finalizado el reforzamiento</h4>
                   
                    {{/ifEquals}}
                    

                </div>
            </div>
        </div>

    </div>
</div>