<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="cardbody">
                    <form action="/alumnos" method="GET">
                        <p>CURSO ALUMNO</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>